#in.tile-group.five
  .tile-group-title In-room
  - @in_rooms.each do |m|
    .tile.animated.fadeIn{"data-click" => "transform"}
      .tile-content.image
        %img{:src => "#{m.avatar}", "id" => "#{m.name}", "alt" => "in"}/
      .brand
        .label.fg-amber #{m.name}
        .badge.available
    / end tile
/ End group

#out.tile-group.three
  .tile-group-title Absent
  - @absents.each do |m|
    %a.tile.half.bg-dark.animated.fadeIn{"data-click" => "transform"}
      .tile-content
        %img{:src => "#{m.avatar}", "id" => "#{m.name}", "alt" => "out"}/
/ End tile group
